<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="total">
            <div id="sectionborder">
                <div id='section'>
                    <h1 id='header'>Gambling Site</h1>
                </div>
            </div>
            <div id="dynamic">
                <%= yield %>
            </div>
        </div>
    </body>
</html>