<h2> Please log in </h2>

<!-- <#% if session[:loginfailmessage] %>-->
<!--<h3> <#%=session[:loginfailmessage]%></h3> -->
<!--<#% session[:loginfailmessage] = nil %> -->
<!--<#% end %> -->
<%= erb :loginform %>