<html>
    <head> 
        <link href='style.css' rel='stylesheet' type='text/css'> 
    </head>
    <body>
        
        <form action="/loggedin" method="POST">
                    Username <input type='text' name='user' id='user'><br><br>
                    Password <input type='text' name='pass' id='pass'>
                    <br><br>
                <input type='submit' name='submit' value="Login" >
        </form>
    </body>
</html>